/*------------------------------------------------------------------------------
Wrapper
------------------------------------------------------------------------------*/

.snippet {
  margin-top: 30px;
}

.snippet:after {
    content: "";
    display: block;
    clear: both;
}

.code, .data, .state {
  display: block;
  max-width: 33%;
  padding-top: 20px;
  margin-bottom: 50px;
  position: relative;
  float: left;
  overflow-x: scroll;
}

/*------------------------------------------------------------------------------
Google Code Prettify
------------------------------------------------------------------------------*/

pre.linenums {
  margin: 0;
}

ol.linenums {
  padding-left: 0;
}

ol.linenums > li {
  height: 15px;
  padding-right: 20px;
  background-color: #FFFFFF;
  position: relative;
  list-style-type: none;
}

ol.linenums > li.is-highlighted {
  background-color: yellow;
}

pre.prettyprint {
  padding: 0;
  border: none;
}

/*------------------------------------------------------------------------------
Google Code Prettify - Stack Overflow Theme
------------------------------------------------------------------------------*/

.pre {
  margin-bottom: 1em;
  padding: 5px;
  padding-bottom: 20px !ie7;
  width: auto;
  width: 650px !ie7;
  max-height: 600px;
  overflow: auto;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  font-size: 13px;
  background-color: #eff0f1;
}

.str,.lit,.tag {
  color: #7D2727
}

.kwd,.dec {
  color: #101094
}

.com {
  color: #858C93
}

.typ {
  color: #2B91AF
}

.pun,.pln {
  color: #303336
}

.atn {
  color: #E64320
}

.atv {
  color: #0F74BD
}

.prettyprint {
  display: block;
  color: #393318
}

@media print {
  .kwd,.typ,.tag {
    font-weight: bold
  }

  .str,.atv {
    color: #060
  }

  .kwd {
    color: #006
  }

  .typ,.atn {
    color: #404
  }

  .lit {
    color: #044
  }

  .pun {
    color: #440
  }

  .pln {
    color: #0C0D0E
  }

  .tag {
    color: #006
  }

  .com {
    color: #600;
    font-style: italic
  }
}

/*------------------------------------------------------------------------------
Execution
------------------------------------------------------------------------------*/

svg {
  display: block;
  box-shadow: inset 0 0 5px 0px rgba(0,0,0,0.3);
  overflow: visible;
}

/*------------------------------------------------------------------------------
Execution - Axis
------------------------------------------------------------------------------*/

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #000000;
}

.axis text {
  font-family: monospace;
  font-size: 8px;
}

.tick:first-of-type,
.tick:last-of-type {
  display: none;
}

.tick text {
  display: none;
}

.tick:nth-child(5n+1) text {
  display: block;
}

.tick line {
  height: 3;
}

.axis .minor {
  stroke-opacity: .5;
}

.axis path {
  display: none;
}

/*------------------------------------------------------------------------------
Execution - Dot
------------------------------------------------------------------------------*/

.dot {
  stroke: #FFFFFF;
  stroke-width: 2;
}

.dot:hover {
  cursor: pointer;
  stroke: #EC5E5D;
}

.dot.is-active {
  cursor: default;
  stroke: #EC5E5D;
}

/*------------------------------------------------------------------------------
Execution - Slider (UI)
------------------------------------------------------------------------------*/

input.execSlider {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 3px;
}

/*------------------------------------------------------------------------------
State
------------------------------------------------------------------------------*/

.state > ol {
  padding-left: 0;
  margin: 0 0 5px 10px;
  font-family: monospace;
  list-style: none;
}

.state > ol > li {
  display: block;
  min-height: 20px;
  margin: 0;
  line-height: 16px;
}

.state > ol > li > span {
  display: inline-block;
  white-space: pre-wrap;
}

.state > ol > li > input,
.state > ol > li > select {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.stateProps,
.stateParams,
.stateValues {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.stateParams:last-child,
.stateValues:last-child,
.stateReturns:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.stateVal {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
}
