/*------------------------------------------------------------------------------
Settings
------------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.is-hidden {
  display: none !important;
}

/*------------------------------------------------------------------------------
Wrapper
------------------------------------------------------------------------------*/

.cluster, .snippet {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.cluster:after, .snippet:after {
    content: "";
    display: block;
    clear: both;
}

.code, .data, .state {
  display: block;
  padding-top: 20px;
  vertical-align: top;
  position: relative;
  float: left;
  overflow-x: scroll;
}

.code {
  margin-bottom: 50px;
}

.data {
  left: -9px;
}

.state {
  left: -18px;
}

.cluster.is-resizing {
  /* Disable selection so it doesn't get annoying */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

/*TODO: Rename to gfxToggle */
.wrapperToggle {
  position: absolute;
  top: 0;
  right: 0;
  font-family: monospace;
  z-index: 1;
  background-color: white;
}

.wrapperToggle:hover {
  cursor: pointer;
  color: rgb(236, 94, 93);
}

.resize-handle {
  display: block;
  width: 9px;
  position: relative;
  float: left;
  cursor: col-resize;
  z-index: 1;
}

.resize-handle:after {
  content: '';
  display: block;
  width: 1px;
  margin-left: 4px;
  height: 100%;
  background-color: rgb(208, 208, 208);
}

.resize-handle.resize-handle--left {
  left: -5px;
}

.resize-handle.resize-handle--right {
  left: -13px;
}

/*------------------------------------------------------------------------------
Google Code Prettify
------------------------------------------------------------------------------*/

pre.linenums {
  margin: 0;
}

ol.linenums {
  padding-left: 0;
}

ol.linenums > li {
  height: 15px;
  padding-right: 20px;
  background-color: #FFFFFF;
  position: relative;
  list-style-type: none;
}

ol.linenums > li > code {
  display: inline-block;
  max-width: 100%;
}

ol.linenums > li > code > span.com {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cluster.is-active ol.linenums > li.is-highlighted {
  background-color: yellow;
}

pre.prettyprint {
  padding: 0;
  border: none;
}

/*------------------------------------------------------------------------------
Google Code Prettify - Stack Overflow Theme
------------------------------------------------------------------------------*/

.pre {
  margin-bottom: 1em;
  padding: 5px;
  padding-bottom: 20px !ie7;
  width: auto;
  width: 650px !ie7;
  max-height: 600px;
  overflow: auto;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  font-size: 13px;
  background-color: #eff0f1;
}

.str,.lit,.tag {
  color: #7D2727
}

.kwd,.dec {
  color: #101094
}

.com {
  color: #858C93
}

.typ {
  color: #2B91AF
}

.pun,.pln {
  color: #303336
}

.atn {
  color: #E64320
}

.atv {
  color: #0F74BD
}

.prettyprint {
  display: block;
  color: #393318
}

@media print {
  .kwd,.typ,.tag {
    font-weight: bold
  }

  .str,.atv {
    color: #060
  }

  .kwd {
    color: #006
  }

  .typ,.atn {
    color: #404
  }

  .lit {
    color: #044
  }

  .pun {
    color: #440
  }

  .pln {
    color: #0C0D0E
  }

  .tag {
    color: #006
  }

  .com {
    color: #600;
    font-style: italic
  }
}

/*------------------------------------------------------------------------------
Execution
------------------------------------------------------------------------------*/

svg {
  display: block;
  box-shadow: inset 0 0 5px 0px rgba(0,0,0,0.3);
  overflow: visible;
}

/*------------------------------------------------------------------------------
Execution - Axis
------------------------------------------------------------------------------*/

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #000000;
}

.axis text {
  font-family: monospace;
  font-size: 8px;
}

.tick:first-of-type,
.tick:last-of-type {
  display: none;
}

.tick text {
  display: none;
}

.tick:nth-child(5n+1) text {
  display: block;
}

.tick line {
  height: 3;
}

.axis .minor {
  stroke-opacity: .5;
}

.axis path {
  display: none;
}

/*------------------------------------------------------------------------------
Execution - Dot
------------------------------------------------------------------------------*/

.dot {
  /*stroke: #FFFFFF;*/
  /*stroke-width: 2;*/
}

.dot.VariableDeclaration {
  fill: rgb(16, 16, 148);
}

.dot.WhileStatement.true,
.dot.IfStatement.true {
  fill: rgb(190, 255, 24);
}

.dot.WhileStatement.false,
.dot.IfStatement.false {
  fill: rgb(255, 0, 0);
}

.dot:hover {
  cursor: pointer;
  /*stroke-width: 2;*/
  /*stroke: inherit;*/
}

.dot.is-active {
  cursor: default;
  /*stroke: #EC5E5D;*/
}

.stepLine {
  fill: rgb(213, 213, 213);
  opacity: 0.2;
}

/*------------------------------------------------------------------------------
Execution - Slider (UI)
------------------------------------------------------------------------------*/

input.execSlider {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 3px;
}

/*------------------------------------------------------------------------------
State
------------------------------------------------------------------------------*/

.state > ol {
  padding-left: 0;
  margin: 0 0 5px 0;
  font-family: monospace;
  list-style: none;
}

.state > ol > li {
  display: block;
  min-height: 20px;
  margin: 0;
  line-height: 20px;
}

.state > ol > li > span {
  white-space: pre-wrap;
}

.state > ol > li input,
.state > ol > li select {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.stateProps,
.stateParams,
.stateValues {
  padding-top: 5px;
  padding-bottom: 5px;
  /*border-bottom: 1px solid black;*/
}

.stateParams:last-child,
.stateValues:last-child,
.stateReturns:last-child {
  border-bottom: none;
}

.stateLabel {
  font-size: 11px;
}

.stateVal {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
  vertical-align: top;
}

.stateVal.pln {
  display: block;
}

.stateVal.is-last-updated {
  color: rgb(236, 94, 93);
}

.stateToggle {
  font-family: monospace;
  font-size: 11px;
  line-height: 16px;
}

.stateToggle:hover {
  cursor: pointer;
  color: rgb(236, 94, 93);
}
